@media screen and (min-width: 0px) {
    body {
        font-family: Arial, sans-serif;
        font-weight: 400;
        font-size: 10px;
    }
    table {
        margin:0px auto;
        border-collapse: separate;
        empty-cells: hide;
        display: block;
        border: solid 1px black;
        overflow-x: auto;
    }
    pre {
        margin:0px;
    }
    td {
        vertical-align:top;
    }
    td,th {
        margin:0px;
        width:20%;
        border: solid 1px black;
        text-align: center;
    }

    img {
        width:100px;
        height:100px;
    }
    label, button {
        display:block;
    }

    .container {
        max-width: 960px;
        padding: 20px;
        margin: 30px 0 30px 0;
    }

    .container table {
        font-size: 11px;
        margin-top: 20px;
    }
    
    /* overview */
    .overview-table img {
        width: 40px;
        height: 40px;
    }

    /* feedback boxes */
    .feedback {
        padding: 30px;
        margin-bottom: 10px;
    }
    .feedback.success {
        color: #558f2d;
        background-color: #ddf2c0;
    }
    .feedback.error {
        color: #ff7272;
        background-color: #ffe5e5;
    }
    .feedback.info {
        color: #00529B;
        background-color: #BDE5F8;
    }

    .red-text {
        color: red;
    }

}
@media screen and (min-width: 480px) {
    body {
        font-size: 20px;
    }
    h1,h2,h3,h4,h5,h6 {
        font-size: initial;
    }
    img {
        width:200px;
        height:200px;
    }
    .barcode-image {
        width:initial;
        height: initial;
    }
}